.boardcon img {
    /* max-width: 100%; */
    /*height: auto;*/
    /* position: fixed; */
    /* width : 200px; */
    /* right: 5%; */
    /* top: 100px; */ 
    display: none;
    /* vertical-align: right; */
    /* display: inline-block; */
    /* float : "right"; */
    /* overflow : hidden; */
    /* display: block; */
    /* margin-top: 20px; */
      /* max-width: 200px; */
  }
.boardcon{
  width: 340px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.boardconimg img {
  /* right : 0; */
  /* display: ""; */
}
.boardconimg{
  width: 100px;
  height: 50px;
  /* display: none; */
}